PORT=5000

REFRESH_TOKEN_SECRET=your-refresh-token-secret
ACCESS_TOKEN_SECRET=your-access-token-secret

MONGO_URI="mongodb://localhost:27017/voxaide"

NODE_ENV=development

COOKIE_SECRET=your-cookie-secret

SMTP_PWD=your-smtp-password
SMTP_USER=your-smtp-email@gmail.com

REDIS_URL=redis://redis:6379
OPENAI_API_KEY="sk-your-openai-api-key"

GOOGLE_API_KEY=your-google-api-key

FRONTEND_URL=http://localhost:5173

PINECONE_API_KEY="your-pinecone-api-key"
PINECONE_INDEX_NAME="voxaide"

AWS_REGION="ap-south-1"
S3_BUCKET_NAME="voxaide"
